<h1>管理画面</h1>
<table>
<% @admin_users.each do |admin_user| %>
<tr>
  <th>ID</th>
  <td><%= admin_user.id %></td>
</tr
<tr>
  <th>名前</th>
  <td><%= admin_user.name %></td>
</tr>
<tr>
  <th>アドレス</th>
  <td><%= admin_user.email %></td>
</tr>
<% end %>
</table>
<%= link_to "Sign up", new_user_path %>
