<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<table class="table table-striped">
  <tr>
    <th>名前</th>
    <th>詳細</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>
  <%= link_to "編集", edit_admin_user_path(@user), class: 'btn btn-success' %>
  <%= link_to '削除', admin_user_path(@user), method: :delete, class: 'btn btn-danger' %>
